.disable{
    display: none;
}

.container{
    background-color: white;
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
}

.container-p{
    position: relative;
    display: flex;
    flex-direction: column;
}

.container__imgtxt{
    position: relative;
}

.container__imagem{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.container__textos{
    width: 85%;
    margin: 40px auto;
}

.container__titulo{
    font-weight: 700;
    color: #48556A;
}

.container__paragrafo{
    font-size: 13px;
    color: #6E8098;
}

.container__caixa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.container__caixa-perfil{
    display: flex;
}

.container__perfil-img{
    margin-right: 20px;
}

.container__perfil-name{
    font-size: 13px;
    font-weight: 700;
    color: #48556A;
}

.container__perfil-date{
    font-size: 13px;
    color: #9DAEC2;
}

.botao_arrow{
    background: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 930px){
    .container{
        width: 850px;
        margin-top: 200px;
    }
    .container-p{
        flex-direction: row;
    }
    .container__imagem{
        border-radius: 10px 0 0 10px;
    }
}